repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: mixed-line-ending
    args: ['--fix=lf']  # replace 'auto' with 'lf' to enforce Linux/Mac line endings or 'crlf' for Windows
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: 'v0.1.15'
  hooks:
    - id: ruff
      args: ["--fix","--exit-non-zero-on-fix","--show-fixes"]
- repo: https://github.com/psf/black
  rev: 23.9.1
  hooks:
    - id: black
      # max support version of foundry-dev-tools
      language_version: python3.11
