name: docs

on:
  push:
    branches:
      - main
  workflow_dispatch:  # Allow manually triggering the workflow

concurrency:
  group: >-
    ${{ github.workflow }}-${{ github.ref_type }}-
    ${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pages: write
      id-token: write
    steps:
      - uses: actions/checkout@v3
        with: {fetch-depth: 0}  # deep clone for git tag
      - uses: pdm-project/setup-pdm@v4
        with:
          python-version: "3.12"
          cache: true
      - name: Build Docs
        working-directory: ./docs
        run: |
          pdm install
          pdm run build
      - name: Upload docs artifact
        uses: actions/upload-pages-artifact@v1
        with:
          path: 'docs/_build/html'

  # TODO: how to test?
  # deploy:
  #   needs: build
  #   runs-on: ubuntu-latest
  #   permissions:
  #     contents: read
  #     # pages: write
  #     id-token: write
  #   environment:
  #     name: github-pages
  #     url: ${{ steps.deployment.outputs.page_url }}
  #   steps:
  #     - name: Deploy to GitHub Pages
  #       id: deployment
  #       uses: actions/deploy-pages@v1
